[Unit]
Description=Polkadot Node
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=polkadot
SyslogIdentifier=polkadot
SyslogFacility=local7
KillSignal=SIGHUP
Restart=always
RestartSec=10
LimitNOFILE=10000
ExecStart=/usr/local/bin/polkadot \
    --name "polkadot-node{{ ansible_hostname }}" \
    --validator \
    --database paritydb \
    --state-pruning 256 \
    --blocks-pruning 256 \
    --base-path /var/lib/polkadot
     
[Install]
WantedBy=multi-user.target
